<div layout="row" layout-align="end center" hide-xs>
  <md-button class="md-default" href="https://github.com/UW-Madison-DoIT/my-app-seed">
    <span><i class="fa fa-github"></i> Checkout Repo</span>
  </md-button>
</div>
<md-menu md-position-mode="target-right bottom" hide-gt-xs>
  <md-button aria-label="Open options menu" class="md-primary link-div" ng-click="$mdOpenMenu($event)">
    <span layout="row" layout-align="center center"><md-icon>settings</md-icon></span>
    <md-tooltip class="top-bar-tooltip" md-direction="bottom" md-delay="500">Settings</md-tooltip>
  </md-button>
  <md-menu-content width="4">
    <md-menu-item>
      <md-button class="md-default" href="https://github.com/UW-Madison-DoIT/my-app-seed"><span><i class="fa fa-github"></i> Checkout Repo</span></md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
